altgraph==0.17.2
auto-py-to-exe==2.18.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
decorator==4.4.2
Eel==0.12.4
ffmpeg==1.4
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
hurry==1.1
idna==3.3
imageio==2.16.0
imageio-ffmpeg==0.4.5
moviepy==1.0.3
numpy==1.22.2
pefile==2021.9.3
Pillow==9.0.1
proglog==0.1.9
pycparser==2.21
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
pytube==12.1.0
pywin32-ctypes==0.2.0
requests==2.27.1
six==1.16.0
tqdm==4.62.3
urllib3==1.26.8
validators==0.18.2
whichcraft==0.6.1
youtube-dl==2021.12.17
zope.event==4.5.0
zope.interface==5.4.0
